<?xml version="1.0"?>
<config>
    <modules>
        <Esprit_Contact>
            <version>1.0.0</version>
        </Esprit_Contact>
    </modules>

    <frontend>
    <routers>
        <Esprit_Contact>
            <use>standard</use>
            <args>
                <module>Esprit_Contact</module>
                <frontName>contact</frontName>
            </args>
        </Esprit_Contact>
    </routers>
        <layout>
            <updates>
                <Esprit_Contact>

                    <file>esprit_contact.xml</file>
                </Esprit_Contact>
            </updates>
        </layout>

    </frontend>
    <global>
        <blocks>
            <Esprit_Contact>
                <class>Esprit_Contact_Block</class>
            </Esprit_Contact>
        </blocks>
    </global>
</config>

